/* #navbar {


	position: fixed;

	top: 0;

	width: 100%;

	transition: top 0.3s;
} */

.navbar {
    padding-right: 0 !important;
}

.navbar.black {
	background-color: #343A40 !important;
	transition: top 1s;

}


.navbar.about {
	min-height: 65px;
	background: #B81D44;
	box-shadow: none;
}

.navbar-seo {
	min-height: 65px;
	background: transparent;
	box-shadow: none;
	z-index: 999;
}

.nav-logo {
	position: relative;
	float: left;
	margin-right: 30px;
	height: 20px;
	object-fit: scale-down;
	object-position: 0% 50%;
	filter: invert(100%);
}



.navbar li {
	margin: 0px 20px;
}

.navbar li a {
	position: relative;
	padding: 20px;
	display: flex;
	align-items: center;
	width: 100%;
	font: 400 12px "Poppins";
	letter-spacing: 0.8px;
}

.navbar-nav .nav-link {
	color: snow !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
	border-color: rgb(255, 102, 203);
	color: aliceblue;
}

ul .navbar-nav,
.navbar-nav li a {
	height: 65px;
}

@media (max-width: 995px) {

	.dropdown-menu.show {
		display: block;
	}

	.tst-1 {
		background-color: #343a40;
	}

}

@media (min-width: 995px) {
	.nav-item:hover::after {
		content: '';
		position: absolute;
		width: 120%;
		height: 5px;
		background-color: white;
		bottom: 0;
		left: -5px;
	}


}

.nav-item {
	position: relative;
}

.nav-item:hover {
	transition: all 0.2s ease-in-out;
}

.nav-item a {
	padding: 0;
}

.cstm-dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 60.5px;
	left: 50%;
	margin-left: -105px;
	padding-top: 20px;
	width: 210px;
	list-style: none;
	background: #f2f2f2;
	border-radius: 3px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.dropdown:hover>.dropdown-menu {
	display: block;
	padding: 0;
	transition: all 0.2s ease-in-out;
}

.f-d-company {
	left: -50px !important;
	margin-top: -1px;
}

.f-d-services {
	left: -90px !important;
	margin-top: -1px;
}

.f-d-services span,
.f-d-company span {
	position: relative;
	float: left;
	margin-right: 20px;
	width: calc(100% - 66px);
}

.f-d-services a,
.f-d-company a {
	border-top: 1px solid #e5e5e5;
}

.dropdown-menu img {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	object-fit: scale-down;
	object-position: 50% 50%;
	box-sizing: border-box;
	margin-left: 30px;
}

.dropdown-menu {
	background: #f2f2f2;
	padding-top: 20px !important;
	transition: all 0.2s ease-in-out;
}

.dropdown-menu .careers img {
	margin-left: 37px;
}

/* .menu {
	position: relative;
	float: left;
	margin-right: 30px;
	height: 100%;
	list-style: none
}
.menu > li {
	position: relative;
	float: left;
	padding: 0 20px;
	height: 100%;
	transition: all 0.1s ease-in-out;
	box-sizing:  border-box
}
.menu > li:hover {
	border-bottom: 3px solid #f2f2f2;
	box-sizing:  border-box
}
.menu .open {
	border-bottom: 3px solid #fff
}
.menu > li > a {
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	font: 400 12px "Poppins";
	letter-spacing: 0.8px;
	color: #fff;
}
.menu > li:hover ul {
	visibility: visible;
	opacity: 1
}
.menu > li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 60.5px;
	left: 50%;
	margin-left: -105px;
	padding-top: 20px;
	width: 210px;
	list-style: none;
	background: #f2f2f2;
	border-radius: 3px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-in-out;
}
.menu > li ul li {
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	width: 100%;
	background: #fff;
	border-top: 1px solid #e5e5e5;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
}
.menu > li ul li a {
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.menu > li ul li span {
	position: relative;
	float: left;
	margin-right: 20px;
	width: calc(100% - 66px);
	font: 500 12px "Poppins";
	color: #000;
	letter-spacing: 0.2px;
	text-shadow: none;
}
.menu > li ul li img {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	object-fit: scale-down;
	object-position: 50% 50%;
	box-sizing: border-box;
}
.menu > li ul li:last-child {
	border-radius:  0 0 3px 3px
}
.menu > li ul li:hover {
	background: #f9f9f9;
	border-left: 6px solid #ccc
} */

.dropdown-item {
	background-color: #fff !important;
	transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
	background: #f9f9f9;
	border-left: 6px solid #ccc;
}

.custom-toggler {
	color: white;
	padding: .25rem .75rem;
	font-size: 1.25rem;
	line-height: 1;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: none;
}

.navbar-toggler-cstm {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
}

.f-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
}
