html,
body {
    overflow-x: hidden;
    font: 400 12px/1.6 "Poppins", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.6;
    font-family: Poppins, sans-serif;
    padding: 0 !important;
    position: relative;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #747474;
    background-image: -webkit-linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 25%,
            transparent 100%,
            rgba(0, 0, 0, 1) 75%,
            transparent)
}



#nav {
    background-color: black;
}

.navbar {
    padding-right: 0 !important;
}

#f-portfolio-heading .jumbotron h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 800;
}

#f-portfolio-heading .jumbotron p {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 50px 0;
    font-weight: 800;
}

@media (min-width: 768px) {
    #f-portfolio-heading .jumbotron p {
        font-family: 'Muli', sans-serif;
        font-size: 22px;
        font-weight: 500;
    }
}

#f-portfolio-heading .jumbotron {
    min-height: 400px;
    padding: 0;

}


#f-portfolio-heading .container-fluid,
#f-portfolio-heading .row {
    min-height: 400px;
    margin-top: 77px;
}



#f-portfolio-heading .balok {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 768px) {
    #f-portfolio-heading .balok {
        padding-top: 33px;
        margin-top: -10px;
    }

    #f-portfolio-heading .container-fluid,
    #f-portfolio-heading .row {
        margin-top: 50px;
    }
}

#f-portfolio img {
    width: 100%;
    height: 100%;
}

#f-portfolio-body {
    min-height: 600px;
    position: relative;
}

#f-portfolio-body .part-1 {
    margin-top: 100px;
}

#f-portfolio-body .part-2 {
    margin-top: 50px;
}

.f-carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 50%;
    transform: translateY(50%);
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.f-carousel-caption h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 48px !important;
    font-weight: 800;
}

.f-carousel-caption p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px !important;
    font-weight: 500;
    margin-bottom: 20px;
}

.f-btn-id {
    background-color: transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding: 6px 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    transition: all 0.4s;
}

.f-btn-id:hover,
.f-btn-id-2:hover {
    background-color: white;
    color: black;
}

.f-btn-id:foucs,
.f-btn-id:active {
    outline: none;
}

.f-btn-id-2 {
    background-color: transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding: 3px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    transition: all 0.4s;
}

.content-box {
    width: 420px;
    height: 250px;
    margin: 25px 0;
    display: inline-block;
    position: relative;
    background-size: cover;
    color: white;
    text-align: left;
    border: 2px solid #eeeeee;
    z-index: 2;
    cursor: pointer;
}

.f-lok {
    background-color: black;
}

.content-box h4 {
    color: white;
    margin-top: 3px;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: 700;
    width: 40%;
    display: inline-block;
    border-right: 1px solid;
    padding-left: 1em;
    margin-bottom: 0;
    position: relative;
    z-index: 9999;
}

.content-box h3 {
    color: white;
    margin-top: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 0;
    position: relative;
    z-index: 9999;
}


.content-ntah{
    color: white;
    margin-top: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 0;
    position: relative;
}

@media (max-width: 1300px) {
    .content-box {
        width: 100%;
        height: 250px;
        margin: 25px 0;
        display: inline-block;
        position: relative;
        background-size: cover;
        color: white;
        text-align: left;
        border: 2px solid #eeeeee;
    }
}

/* .content-box img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
} */

.content-text {
    position: absolute;
    display: inline-block;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    left: 0;
}

/* #portfolio-content_page.heading {
    min-height: 300px;
} */

#portfolio-content_page {
    height: 300px;
}


@media(min-width: 992px) {
    #portfolio-content_page .row {
    height: 100%;
    padding-top: 77px;
}
}
#portfolio-content_page .row {
    height: 100%;
    padding-top: 50px;
}

#portfolio-content_page .jumbotron {
    padding: 0;
    position: relative;
    display: block;
    height: 100%;
}

#portfolio-content_page .jumbotron img {
    height: 300px;
    width: 100%;
    position: absolute;
    -webkit-box-shadow: 1px 4px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 15px -5px rgba(0, 0, 0, 0.75);
}

#portfolio-content_page .block_content-text {
    position: relative;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

#portfolio-content_page h5 {
    font-family: 'Muli', sans-serif;
    font-family: 18px;
    font-weight: 300;
}

#f-portfolio-body a {
    outline: none;
    border: none;
    text-decoration: none;
}

#portfolio-other_part {
    min-height: 300px;
    background-image: url('/img/floor-tile.png');
    width: 100%;
    -webkit-box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
    background-attachment: fixed;
}

#portfolio-other_part .part-1 {
    padding: 50px;
    padding-bottom: 25px;
}

#portfolio-other_part .part-2 {
    padding-bottom: 25px;
}

#portfolio-other_part .content-block {
    width: 100%;
    min-height: 240px;
    background-color: black;
    position: relative;
    cursor: pointer;
    width: 100%;
    min-height: 240px;
    background-color: black;
    cursor: pointer;
    -webkit-box-shadow: 14px 12px 20px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 20px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 20px -16px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    transition: all 0.4s;
}

#portfolio-other_part .content-block:hover {
    top: -20px;
    transition: all 0.4s;
}

#portfolio-other_part .content-block h1 {
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    padding: 10px 0;
}

#portfolio-other_part .content-block img {
    width: 100%;
    border-radius: 20px;
}

/* F PORTFOLIO OLD STYLE */

/* F PORTFOLIO OLD STYLE */

/* F PORTFOLIO OLD STYLE */

/* F PORTFOLIO OLD STYLE */

/* F PORTFOLIO OLD STYLE */

/* F PORTFOLIO OLD STYLE */

/* F PORTFOLIO OLD STYLE */

/* F PORTFOLIO OLD STYLE */

#portfolio.jumbotron {
    min-height: 100vh;
    background-color: #343A40;
    position: relative;
    z-index: 10;
}

#portfolio.jumbotron::after {
    content: '';
    width: 100%;
    background-image: url('/img/Polygon2.svg');
    bottom: 0;
    left: 0;
}

#portfolio.jumbotron .part-1 {
    padding: 50px;
}

#portfolio.jumbotron .part-2 img {
    width: 80px;
    height: 75px;
}

#portfolio.jumbotron .part-2 .block {
    cursor: pointer;
}

#portfolio.jumbotron .part-2 .col-md-3 {
    padding: 25px;
}

#portfolio.jumbotron h1 {
    color: white;
    padding: 100px 0 50px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    letter-spacing: 2px;
}

#portfolio.jumbotron h2 {
    color: white;
    padding: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

#portfolio-2 {
    margin-top: 50px;
}

#portfolio-2 img {
    display: inline-block;
}

#portfolio-2 h1 {
    padding: 35px 0;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 29px;
}

#portfolio-2 p {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

#portfolio-2 .col-10 img,
#portfolio-6 .col-10 img {
    width: 100px;
    float: right;
    /* height: 50px; */
    bottom: 10px;
    position: relative;
}

#portfolio-2 .part-2 {
    margin: 75px 0;
    position: relative;
    min-height: 250px;
}

#portfolio-4 {
    margin: 50px 0;
}

#portfolio-3 {
    min-height: 400px;
    background-color: #eeeeee;
    margin: 50px 0;
    padding: 50px 0 0;
}

@media (min-width: 768px) {
    #portfolio-4 .col-6 {
        padding: 0 50px;
    }

    #portfolio-3 {
        min-height: 400px;
        background-color: #eeeeee;
        margin: 50px 0;
        padding: 50px;
    }
}

#portfolio-4 .col-6.part-1 {
    text-align: right;
}

.kotak {
    width: 200px;
    height: 200px;
    box-shadow: 5px 7px 20px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.6s;
}

.kotak:hover {
    width: 210px;
    height: 210px;
    box-shadow: 5px 7px 20px 2px rgba(0, 0, 0, 0.75);
}

#portfolio-4 img {
    width: 80%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

#portfolio-5 {
    min-height: 400px;
    background-color: #eeeeee;
    margin: 80px 0;
    padding: 50px 0 0;
}

.f-row {
    display: inline-block;
    min-height: 200px;
    position: relative;
}

#portfolio-3 img {
    width: 100%;
    transition: all 0.10s;
}

#portfolio-3 img:hover {
    bottom: 20px;
}

#portfolio-3 .part-2 {
    min-height: 200px;
}

#portfolio-3 .col-md-3,
#portfolio-3 .col-md-2 {
    position: relative;
}

@media (min-width: 768px) {
    #portfolio-2 .row.part-2::before {
        content: '';
        width: 300%;
        left: -100%;
        border: 1px solid #d3d3d3;
        position: absolute;
        top: 50%;
    }

}

#portfolio-7 {
    min-height: 400px;
    background-color: #eeeeee;
    padding: 50px 0;
}

#portfolio-7 .part-col-1 {
    text-align: center;
}

#portfolio-7 .col-md-6 {
    position: relative;
}

#portfolio-7 img {
    margin: 0 auto;
    padding: 25px 0;
    width: 100%;
}

#portfolio-2 .part-2 img:hover {
    width: 250px;
    transition: all 0.4s;
}

#portfolio-8 .part-col-2 {
    text-align: center;
    vertical-align: middle;
}

#portfolio-7 p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Muli', sans-serif;
    font-size: 17px;
    padding: 0;
}

#asian-paragames {
    min-height: 400px;
}

#asian-paragames-2 {
    height: 100%;
    width: 100%;
    background-color: #eeee;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}


#asian-paragames .container {
    /* padding: 0 100px; */
    margin-top: 100px;
}

#asian-paragames .f-heading h1 {
    position: relative;
    top: 58%;
    transform: translateY(-50%);
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

#asian-paragames .f-heading .col-md-10 {
    position: relative;
}

#asian-paragames .f-heading .col-md-10::after {
    content: '';
    position: absolute;
    background-image: url(/img/lines-asian.svg);
    right: 0;
    bottom: 0;
    width: 100px;
    height: 7px;
    background-repeat: no-repeat;
}

#asian-paragames .part-3 {
    margin: 50px 0;
}

#asian-paragames .part-3 h5 {
    font-family: 'Muli', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

#asian-paragames .part-5 {
    margin: 100px 0;
}

#asian-paragames .part-5 h2 {
    font-family: 'Muli', sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 25px;
}

#asian-paragames .part-5 p {
    font-family: 'Muli', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.badge {
    padding: 8px 19px 6px;
    font-weight: 700 !important;
    color: #5a8ae4;
    background: rgba(81, 40, 193, .1);
    text-transform: uppercase;
    letter-spacing: .075em;
    padding: 8px 20px;
    border-radius: 40px;
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
}

/* -------- INTEGRATED E GOVERMENT -------- */

#e-goverment_bodyMain {
    margin: 100px 0;
}

#e-goverment_bodyMain .container img {
    width: 100%;
}

.e-gov-box_content {
    height: 100%;
    display: block;
    position: relative;
}

@media (max-width: 991px) {
    #e-goverment_bodyMain .container h1 {
        font-size: 2em;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 992px) {
    #e-goverment_bodyMain .container h1 {
        background-color: #F3F3F3;
        display: block;
        padding: 35px;
        font-family: 'Muli', sans-serif;
        font-weight: 800;
        position: absolute;
        left: -200px;
        top: 50%;
        transform: translateY(-50%);
        /* border-radius: 20px; */
        border: 7px solid white;
    }
}

.end_id-photo-e_goverment {
    margin: 125px 0;
}

.end_id-photo-e_goverment img {
    width: 100%;
}

.end_id-photo-e_goverment .wrapper {
    display: block;
    position: relative;
    height: 100%;
}

.end_id-photo-e_goverment h4 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    line-height: 32px;
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #777;
}

.list_e-goverment {
    min-height: 600px;
    margin-bottom: 50px;
}

.main_content-box {
    position: relative;
    display: block;
    min-height: 350px;
}

.content_list-e-govermentBox {
    display: flex;
    position: relative;
    min-height: 230px;
    background-image: url(/img/dukcapil_png.png);
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.content_list-e-govermentBox .wrapper {
    color: white;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.content_list-e-govermentBox .wrapper h5 {
    font-size: 39px;
    font-weight: 900;
    font-family: 'Muli', sans-serif;
    letter-spacing: 5px;
}

.main_content-box p {
    display: none;
    background-color: black;
    color: white;
    padding: 25px 10px;
}

.btn_e-gov_cstm {
    margin-top: 10px;
    background: none;
    outline: none;
    border: none;
    position: relative;
}

.btn_e-gov_cstm img:hover {
    width: 40px;
    filter: brightness(90%);
}

.btn_e-gov_cstm:focus {
    outline: none;
    text-decoration: none;
}

.btn_e-gov_cstm img {
    width: 38px;
}

/* ------- INTEGRATED BANKING ------- */

#int_banking {
    padding: 120px 0 50px;
    ;
    background-image: url('/img/white-waves.png');
    background-attachment: fixed;
}

#int_banking .container .part-1 img {
    width: 150px;
    text-align: center;
}

/* #int_banking .container .part-1 h1 {
    font-size: 24px;
} */

@media (min-width: 768px) {
    #int_banking .container .part-1 img {
        width: 200px;
        float: left;
        clear: both;
    }

    #int_banking .container .part-1 h1 {
        float: left;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 40px;
        font-weight: 800;
        font-size: 44px;
    }

    #img_content-box {
        padding: 100px;
    }

    #img_content-box img {
        width: 75%;
    }

    #int_banking .part-1 h3 {
        font-family: 'Muli', sans-serif;
        font-weight: 600;
        font-size: 18px;
        display: block;
        padding: 0 120px;
    }

    #int_banking .badge {
        margin: 100px 0;
    }
}

#asian-paragames .part-2 {
    text-align: left;
}

@media (max-width: 768px) {
    #asian-paragames .part-2 {
        text-align: center;
    }
}

/* ---- TYPOGRAPHY ---- */

/* ---- IMAGES ---- */

#int_banking .badge {
    margin: 40px;
}

#img_content-box .container {
    display: flex;
    justify-content: center;
}

#img_content-box {
    padding: 50px 0;
}

#img_content-box img {
    width: 70%;
}

#int_banking .part-1 h3 {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: block;
    padding: 0 20px;
    text-align: left;
}

#img_content-box .cstm-pelni {
    width: 90%;
}

.img_vector {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.img_vector img {
    width: 75%
}

@media (max-width: 767px) {
    #img_content-box .cstm-pelni {
        width: 100%;
    }

    .img_vector {
        display: flex;
        justify-content: center;
    }

    .img_vector img {
        width: 100%
    }
}

/* ---- KODIKLAT ---- */

#left-content_box {
    margin: 100px 0;
}

#left-content_box img {
    width: 65%;
    box-shadow: -8px 14px 17px -10px rgba(0, 0, 0, 0.75);
}

.part-overview p {
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    text-align: left;
    padding: 0 20px;
    display: inline-block;
}

.txt-content_left-box {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

@media (max-width: 767px) {
    .txt-content_left-box {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .part-overview p {
        font-size: 16px;
        font-family: 'Muli', sans-serif;
        text-align: left;
        padding: 0 140px;
        display: inline-block;
    }

    .txt-content_left-box {
        font-size: 18px;
        font-family: 'Muli', sans-serif;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
    }
}

.ptb-25 {
    padding: 25px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-75 {
    padding: 75px 0;
}

.ptb-100 {
    padding: 100px 0;
}

.plr-50 {
    padding: 0 50px;
}

.plr-100 {
    padding: 0 100px;
}

.mtb-25 {
    margin: 25px 0;
}

.mtb-50 {
    margin: 50px 0;
}

.mtb-75 {
    margin: 75px 0;
}

.mtb-100 {
    margin: 100px 0;
}

.mlr-50 {
    margin: 0 50px;
}

.mlr-100 {
    margin: 0 100px;
}

#portfolio-other_part a {
    text-decoration: none !important;
    outline: none;
    border: none;
}

.container .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    height: 100%;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-image:hover {
    transform: scale(1.2);
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 9999;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 18px;
}

.content-details p {
    color: #fff;
    font-size: 0.9em;
    margin: 10px 0;
}

.content-details-logo {
    width: 44px;
    display: block;
    text-align: center;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.fadeIn-bottom {
    top: 80%;
}

.fadeIn-top {
    top: 20%;
}

.fadeIn-left {
    left: 20%;
}

.fadeIn-right {
    left: 80%;
}

.ani1 {
    animation-duration: 3s;
    animation-delay: 4s;
}



@media (max-width: 768px) {
    #f-portfolio-heading .photobox {
        height: 380px;
        max-height: 390px;
    }
}

.photobox-csul {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* .content_list-e-govermentBox h5 {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 39px;
    font-weight: 900;
    font-family: 'Muli', sans-serif;
    letter-spacing: 5px;
    transform: translateY(-50%);
} */


.simwas {
    margin-top: 70px;
}


.simwas .jumbotron {
    background-color: #252459;
    margin: 0;
}

@media(max-width:992px) {
    
    /* simwas content page */
    .simwas {
        margin-top: 50px !important;
    }

    .simwas-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .simwas-title h1 {
        font-size: 22px;
    }

    .wrapper-1 {
        margin-top: 20px;
    }

    .dec-1 {
        position: absolute;
        bottom: 330px;
        width: 330px;
    }

    #simwas .part-overview {
        margin: 0 !important;
    }

    /* portfolio content page */
     section#f-portfolio-body h4, section#f-portfolio-body h3 {
        font-size: 10px;
    }

    .content-box h4 {
        width: 50% !important;
    }

    h4.ma-p {
    width: 40% !important;
    }

    h4.ide-p {
    width: 100% !important;
    border: none !important;
    }

    h4.vms-p {
        border: none !important;
        width: 60% !important;
    }

    h4.kh-p {
        width: 100% !important;
        border: none !important;
    }

    h4.cc-p{
        width: 30% !important;
        border: none !important;
    }

    .kotak {
    width: 150px;
    height: 150px;
    box-shadow: 5px 7px 20px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.6s;
    }

    .kotak:hover {
    width: 160px;
    height: 160px;
    box-shadow: 5px 7px 20px 2px rgba(0, 0, 0, 0.75);
    }

    #portfolio-5 img {
        width: 100%;
        height: 260px;
    }
}

@media (max-width: 423px) {
    .app-2 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #asian-paragames .f-heading .col-md-10::after{
        opacity: 0;
    }

    #asian-paragames .f-heading h1 {
    position: relative;
    top: 58%;
    transform: translateY(-50%);
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-top: 10px;
    }
    
    #asian-paragames .part-3 h5 {
        font-size: 14px;
    }
}

#simwas {
    margin-top: 100px;
    position: relative;
    margin-bottom: 20px;
}

.simwas-title {
    display: flex;
    align-items: center;
}

.s-title-2 h1 {
    text-align: left;
    font-size: 17px;
}

.s-title-2 p {
    text-align: left;
    margin-top: 20px;
    color: #565656;
}

#left-content .wrapper-1 {
    position: relative;
    top: 47%;
    transform: translateY(-50%);
}

.part-overview p {
    color: #565656;
    font-weight: 600;
}



.wrapper-2 {
    margin: 90px 0 20px;
}

.wrapper-2 .col-md-4 {
    padding: 10px;
}

.wrapper-2 .box {

    width: 100%;
    min-height: 300px;
}

.wrapper-2 .box p {
    padding: 10px;
    font: 400 12px/1.6 "Poppins", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.6;
    font-family: Poppins, sans-serif;
}

.wrapper-2 .box h2 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.wrapper-2 .img-thumb {
    width: 100%;
    display: inline-block;
    justify-content: center;
    height: 120px;
}

.wrapper-2 .img-thumb img {
    height: 100%;
}

.wrapper-2 .col-md-12 {
    margin-bottom: 40px;
}

.dec-1 {
    position: absolute;
    bottom: 190px;
}

/* LION AIR PAGE */


.lionair {
    margin-top: 70px;
}

.lionair .jumbotron {
    background-color: #FB0102;
}


/* MEDIA QUERY  */


h4.xg-p {
    border: none !important;
}

h4.ma-p {
width: 40% !important;
}

h4.ide-p {
width: 100% !important;
border: none !important;
}

h4.vms-p {
    border: none !important;
    width: 60% !important;
}

h4.kh-p {
    width: 100% !important;
    border: none !important;
}

h4.cc-p{
    width: 30% !important;
    border: none !important;
}

.row.text-center.sm-p {
    padding: 0 !important;
    height: 100% !important;
}

.f-portfolio-header {
    padding:0;
}

img.flt-2 {
    width: 100%;
    height: 100%;
}

.f-portfolio-carousel .bd-example,
.f-portfolio-carousel .carousel,
.f-portfolio-carousel .carousel-inner,
.f-portfolio-carousel .carousel-item,
.f-portfolio-carousel img {
    height: 100%;
}

h1.f-ph {
    color: #222;
    background-color: #ffffff;
    display: inline-block;
    margin: 0;
    padding: 0 30px;
}

h4.ap-p {
    width: 50%;
}

.divider {
    content: '';
    display: inline-block;
    width: 90%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #9e9acf;
    top: 50%;
    border-radius: 20px;
    z-index: -1;

}

/* XGOLFER PAGE */

.xgolfer {
    margin-top: 77px;
}

@media(max-width: 992px){
    .xgolfer {
        margin-top: 50px;
    }
}

.xgolfer .jumbotron {
    background-color: #24960B;
}

.content-wrap {
    padding: 30px;
    border-radius: 9px;
    /* border: 1.5px solid #acacac; */
    /* background-color: salmon; */
    margin: 35px;
    box-sizing: border-box;
}

.img-xgolfer-cntn {
    justify-content: center;
    display: inline-block;
    width: 80px;
    float: left;
    margin-right: 20px;
}

.img-xgolfer-cntn img{
    width: 100%;
}

.xg-3p {
    margin: 170px 0;
}

.xg-3p .img-thumb {
    padding: 10px;
    height: 340px;
    max-height: 340px;
}

.xg-3p .img-thumb img{
    width: 100%;
    height: 100%;
}

.xg-3p .text-p2 {
    padding: 30px 0;
    margin-top: 20px;
}

.xg-3p .text-p2 h1 {
    color: #8e8e8e;
    margin-bottom: 30px;
}

.xg-3p .text-p2 p{
    padding: 0 50px;
    font-size: 16px;
}

.p-logo-header-kumham {
    width: 100px;
    height: 100px;
}


.xg-3p.imgr_2s {
    margin-top: 20px;
    margin-bottom: 20px;
}
.imigrasi .imigr_hd {
    border: 4px solid #fbfbfb;
    width: 100%;
    border-radius: 20px;
}
.imigrasi .xg-3p.imgr_2s .img-thumb.ctc-2{
    height: auto;
}

.imigrasi .logo_imgr {
    margin-bottom: 30px;
    margin-top: 30px;
}

.xg-3p.imgr_2s .img-thumb.ctc-1 {
    display: flex;
    justify-content: center;
}


.xg-3p.imgr_2s .img-thumb.ctc-1 img {
    width: calc(100% - 260px) ;
}


@media only screen and (max-width: 1087px) and (min-width: 764px)  {
    .xg-3p.imgr_2s .img-thumb.ctc-1 img {
        width: calc(100% - 100px) ;
    }
}

@media only screen and (max-width: 572px) and (min-width: 1px)  {
    .xg-3p.imgr_2s .img-thumb.ctc-1 img {
        width: calc(100% - 50px) ;
    }
}

.xgolfer.imigrasi .jumbotron {
    background-color: #cfa920;
}
    

/* INFINA Section */
.infina {
    margin-top: 77px;
}

.infina .jumbotron {
    background-color: #FE0000;
}


#infina .container.part-1 {
    padding: 50px 0;
}
#infina .container.part-1 img {
    width: 100%;
}

#infina .container.part-2 .img-title {
    display: flex;
    width: 100%;
    margin: 50px 0;
    justify-content: center;
}

#infina .container.part-2 .img-title img {
    width: 210px;
}

#infina .container.part-3 .sc-1 {
    display: flex;
    justify-content: flex-end;
 
}

#infina .container.part-3 .sc-1 img {
    width: calc(100% - 140px);
    margin-right: 20px;
}

#infina .container.part-3 .sc-2 .header {
    font-size: 45px;
    font-weight: 600;
}

#infina .container.part-3 .sc-2 .content {
    font-size: 15px;
}

#infina .container.part-3 .img-gr {
    justify-content: center;
}

#infina .container.part-3 .img-gr img {
    width: 100%;
    margin: 50px 0;
    padding: 50px 0;
}

#infina .container.part-4 {
    margin-bottom: 40px;
}

#infina .container.part-4 .sc-1 .header {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

#infina .container.part-4 .sc-1 .content {
    font-size: 15px;
}

#infina .container.part-4 .sc-2 img{
    width: calc(100% - 140px);
    margin-right: 20px;
}

#infina .container.part-5 {
    margin-bottom: 50px;
    margin-top: 60px;
}

#infina .container.part-5 .box-txt {
    /* background: #e8161d; */
    background: #2c2c2c;
    color: #fff;
    padding: 50px;
}

#infina .container.part-5 .sc-1 .title {
    color: #fff;
    padding: 20px;
    font-size: 27px;
    padding-bottom: 3px;
    font-weight: 600;
}

#infina .container.part-5 .sc-1 .img-gr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#infina .container.part-5 .sc-1 .img-gr img {
    width: 360px;
}

#infina .container.part-5 .sc-1 .content {
    padding: 20px;
    height: auto;
    text-align: center;
    font-size: 14px;
}

#infina .container.part-6 {
    margin-bottom: 50px;
}

#infina .container.part-6 .title {
    width: 100%;
    font-size: 25px;
    font-weight: 600;
}

#infina .container.part-6 .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

#infina .container.part-6 .img-box img {
    width: 500px;
}

#infina .container.part-7 .sc-1 {
    padding: 50px;
    justify-content: center;
}

#infina .container.part-7 .box-cv {
    width: calc(100% - 270px);
    float: left;
    padding: 31px 20px;
    background: #e8161d1c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1.5px solid #e8161d;
    flex-wrap: wrap;
    justify-content: center;
}

#infina .container.part-7 .box-cv .text-1 {
    width: calc(100% - 240px);
    float: left;
    font-size: 23px;
    text-align: center;
    font-weight: 800;
    color: #e8161d;
}

#infina .container.part-7 .box-cv a {
    background: #e8161d;
    float: left;
    padding: 20px 50px;
    /* width: calc(100% - 490px); */
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    border: 2px solid #e8161d;
}

@media(max-width: 527px){
    section#infina .container.part-6 .img-box img {
        width: 100%;
    }

    section#infina .container.part-5 .sc-1 .img-gr img {
        width: 100%;
    }

    section#infina .container.part-3 .sc-2 .header {
        font-size: 35px;
    }

    section#infina .container.part-4 .sc-1 .header {
        font-size: 35px;
    }

    section#infina .container.part-7 .sc-1 {
        padding: 20px;
    }
}

@media(max-width: 768px){
    section#infina .container.part-7 .box-cv {
        width: calc(100% - 50px);
    }
}

@media(max-width: 992px){
    section.infina {
        margin-top: 50px;
    }

    section#infina .container.part-3 .sc-1 img {
        width: 100%;
    }

    section#infina .container.part-4 .sc-2 img {
        width: 100%;
    }

    section#infina .container.part-7 .box-cv .text-1 {
        width: 100%;
    }
}


html, body {
    overflow-x: hidden;
  }
  .banner-md {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 36, 125);
    height: 353px;
    margin-top: 70px;
  }
  .text-banner {
    font-size: 42px;
    font-weight: 800;
    color: rgb(255, 255, 255);
  }
  .md-sec {
    position: relative;
    padding: 50px 80px;
  }
  .md-sec .logo-bok {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .md-sec .logo-bok img {
    position: relative;
  }
  .md-sec .text-md-sec {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: rgb(33, 33, 33);
  }
  .md-sec .block-md-grp1 {
    position: relative;
    width: 110px;
    height: 15px;
    background: rgb(26, 36, 125);
    top: -20px;
  }
  .md-sec .text-md-sec1 {
    position: relative;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 60px);
    color: rgb(51, 51, 51);
    font-size: 18px;
    display: inline-block;
    line-height: 1.6;
  }
  .md-sec .text-md-sec1 span {
    font-weight: 800;
    font-size: 33px;
    display: inline;
  }
  .md-sec .img-bok1 {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .md-sec .img-bok1 img {
    position: relative;
    width: 290px;
  }
  .md-sec .wrapper-n1 {
    padding-left: 90px;
  }
  .md-sec .wrapper-n1.n2 {
    padding-left: 60px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: self-end;
    padding-top: 30px;
  }
  .md-sec .wrapper-n1 .block-md-grp1 {
    top: 0px;
    margin-top: 40px;
  }
  .md-sec .con2 {
    margin-top: 120px;
  }
  .md-bg {
    position: relative;
    background-image: url("../assets/img/md-bg.svg");
    min-height: 270px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .md-bg .text-head {
    position: relative;
    text-align: center;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 41px;
    font-weight: 700;
  }
  .md-bg .box-wrap-md-kh1 {
    position: relative;
    margin-top: 30px;
  }
  .md-bg .box-item-md-kh1 {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    background-image: url("../assets/img/md-gr1.png");
    background-size: 100% 100%;
    text-align: center;
    background-repeat: no-repeat;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .md-sec-end {
    position: relative;
    margin-bottom: 50px;
  }
  .md-sec-end .box-check-md {
    position: relative;
    background-color: rgb(43, 56, 171);
    border-radius: 20px;
    width: 80%;
    min-height: 200px;
    padding: 20px 20px 20px 40px;
  }
  .md-sec-end .box-check-md img {
    position: relative;
    top: -39px;
  }
  .md-sec-end .col-f1 {
    position: relative;
    justify-content: center;
    display: flex;
  }
  .md-sec-end .check-our-md {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.5px;
    padding: 15px;
  }
  .md-sec-end .btn-mobiledoctor {
    position: relative;
    color: red;
    text-decoration: none;
    background: rgb(255, 255, 255);
    padding: 10px 80px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 19px;
    margin: 20px;
  }
  .md-preview {
    position: relative;
    padding: 80px;
  }
  .md-preview img {
    position: relative;
    width: 100%;
    border-radius: 21px;
  }
  .banner-kompolnas {
    background-color: rgb(239, 180, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 353px;
    flex-direction: column;
    margin-top: 70px;
  }
  .banner-kompolnas .text-banner {
    position: relative;
  }
  .banner-kompolnas .text-banner-sub {
    position: relative;
    font-size: 19px;
    color: rgb(255, 255, 255);
  }
  .kompolnas1 {
    position: relative;
    padding: 100px;
  }
  .kompolnas1 .img1 {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  .kompolnas1 .img1 img {
    position: relative;
  }
  .kompolnas1 .wrapper-main-text {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .kompolnas1 .title-kompolnas {
    position: relative;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 10px;
  }
  .kompolnas1 .title-kompolnas::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 220px;
    width: 461px;
    height: 5px;
    background-color: rgb(239, 180, 64);
  }
  .kompolnas1 .desc-kompolnas {
    position: relative;
    font-size: 20px;
    color: rgb(34, 34, 34);
    line-height: 1.5;
    letter-spacing: -0.5px;
    font-family: Poppins;
  }
  .sec-kp1 {
    position: relative;
    margin-top: 110px;
  }
  .sec-kp1 .kompolnas-divider {
    position: relative;
    width: 210px;
    height: 5px;
    background: rgb(239, 180, 64);
    margin-bottom: 30px;
  }
  .sec-kp1 .kompolnas-desc-ng1 {
    position: relative;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.5;
    font-family: Poppins;
  }
  .sec-kp1 .img2 {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .sec-kp1 .img2 img {
    position: relative;
    width: 280px;
  }
  .sec-kp1 .wrapper-hgk {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sec-kp2 {
    position: relative;
    margin-top: 70px;
  }
  .sec-kp2 .img3 {
    position: relative;
  }
  .sec-kp2 .img3 img {
    position: relative;
    width: 330px;
  }
  .sec-kp2 .text-kp2 {
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-family: Poppins;
    letter-spacing: -0.5px;
    line-height: 1.5;
  }
  .kompolnas2 {
    position: relative;
    padding: 70px;
    background: rgb(224, 224, 224);
  }
  .kompolnas2 img.cg1 {
    position: relative;
    width: 225px;
    margin: 10px;
  }
  .kompolnas2 img.cg2 {
    position: relative;
    width: 100%;
  }
  .kompolnas3 {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .kompolnas3 .box-kpj1 {
    position: relative;
    background: rgb(68, 32, 213);
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 11px;
    padding: 20px;
    border-bottom: 10px solid rgb(54, 34, 132);
    text-align: center;
  }
  .kompolnas3 .box-kpj1 .text-kpj1 {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 14px;
  }
  .kompolnas3 .box-kpj1 .text2-kpj2 {
    position: relative;
    font-size: 32px;
    color: rgb(255, 195, 76);
    font-weight: 700;
    text-transform: none;
    margin-top: -10px;
  }
  .background-kp1 {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
  }
  .background-kp2 {
    position: absolute;
    top: -283px;
    left: 0px;
    width: 100%;
  }
  .banner-kktpti {
    background: linear-gradient(rgb(154, 214, 90) 0%, rgb(56, 192, 78) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 353px;
    flex-direction: column;
    margin-top: 70px;
  }
  .banner-kktpti .text-banner {
    position: relative;
    font-size: 54px;
    line-height: 1;
  }
  .banner-kktpti .text-banner-sub {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 22px;
  }
  .kktpti-sec1 {
    position: relative;
    padding: 90px;
  }
  .kktpti-sec1 .wrapper-sec1 {
    position: relative;
  }
  .kktpti-sec1 .logo-kktpti-head {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .kktpti-sec1 .logo-kktpti-head img {
    position: relative;
    width: 200px;
  }
  .kktpti-sec1 .text-kktpti {
    position: relative;
    font-size: 59px;
    font-weight: 700;
  }
  .kktpti-sec1 .kktpti-divider {
    position: relative;
    width: 120px;
    height: 5px;
    background: rgb(253, 208, 0);
    margin-top: 20px;
  }
  .kktpti-sec1 .text-desc-head-kktpti {
    position: relative;
    font-size: 19px;
    font-family: Poppins;
    margin-top: 40px;
    left: -40px;
  }
  .kktpti-sec1 .wrapper-text-kpti1 {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .kktpti-sec1 .ktpi2 {
    position: relative;
    margin-top: 90px;
  }
  .kktpti-sec1 .ktpi2 .kktpti-gr1 {
    position: relative;
    display: flex;
    padding-left: 40px;
  }
  .kktpti-sec1 .ktpi2 .kktpti-gr1 img {
    position: relative;
    width: 310px;
  }
  .kktpti-sec1 .ktpi2 .text-kktpti-in1 {
    height: 100%;
    position: relative;
    font-size: 19px;
    font-family: POPPINS;
    text-align: right;
    align-items: center;
    display: flex;
    padding-left: 80px;
  }
  .text-kpti-has {
    position: relative;
    font-weight: 700;
    font-size: 28px;
    font-family: POPPINS;
    padding: 30px 30px 30px 70px;
    margin-top: 80px;
    margin-left: 30px;
  }
  .ktpi3 {
    position: relative;
    padding-left: 100px;
    padding-top: 30px;
  }
  .ktpi3 .box-kpti-info {
    position: relative;
    background-image: url("../assets/img/Group 84.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 260px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 22px;
  }
  .ktpi3 .box-kpti-info .kpti-info1 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }
  .ktpi3 .box-kpti-info .kpti-info2 {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 23px;
    top: -5px;
  }
  .ktpi3 .box-kpti-info .kpti-info3 {
    position: relative;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .ktpi4 {
      position: relative;
      padding-top: 120px;
  }
  
  .ktpi4 .img-android {
      position: relative;
      display: flex;
      justify-content: center;
  }
  
  .ktpi4 .img-android img {
      position: relative;
      width: 540px;
  }
  
  .ktpi4 .text-available-kpti {
      position: relative;
      font-size: 31px;
      font-weight: 700;
      margin-bottom: 20px;
  }
  
  .kpti4 .gplay-ktpi {
      position: relative;
  }
  
  .kpti4 .gplay-ktpi img {
      position: relative;
  }
  
  .wrap-kpti-end {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
  }
  
   .web-kpti {
      position: relative;
      font-size: 26px;
      font-weight: 600;
      background: #4bc450;
      padding: 15px;
      display: inline-block;
      text-align: center;
      border-radius: 10px;
      color: #333;
      text-transform: uppercase;
      width: 221px;
      margin-left: 10px;
      font-weight: 700;
      text-decoration: none;
  }
  
  img.bg-kpti {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
  }
  
  @media(max-width: 500px){
     
  
      .md-sec {
          padding: 0;
      }
  
      .md-sec .logo-bok img {
          width: 170px;
          margin-top: 30px;
      }
  
      .md-sec .text-md-sec {
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 20px;
          line-height: 1.5;
      }
  
      .md-sec .block-md-grp1 {
          /* width: 5px; */
          height: 5px;
      }
  
      .md-sec .con2 {
          margin-top: 30px;
      }
  
      .md-sec .wrapper-n1 {
          padding: 0;
      }
  
      .md-sec .text-md-sec1 {
          font-size: 15px;
          width: 100%;
          font-family: 'Poppins';
          font-size: 12px;
          text-align: left !important;
      }
  
      .md-sec .text-md-sec1 span {
          font-size: 12px;
      }
  
      .md-sec .wrapper-n1 .block-md-grp1 {
          width: 60px;
          height: 7px;
          margin-bottom: 30px;
          margin-top: 10px;
      }
  
      .md-sec .img-bok1 img {
          width: 170px
      }
  
      .md-sec .img-bok1 img {
          width: 150px;
          margin-top: 20px;
          margin-bottom: 10px;
      }
  
      .md-sec .wrapper-n1.n2 {
          padding-left: 0;
          align-items: flex-start;
      }
  
      .md-bg .text-head {
          font-size: 17px;
      }
  
      .md-bg .box-item-md-kh1 {
          font-size: 12px;
          width: 190px;
          display: flex;
          height: 50px;
          margin: 10px;
      }
  
      .md-preview {
          padding: 10px;
      }
  
      .md-sec-end .box-check-md {
          padding: 0;
          width: 100%;
      }
  
      .md-sec-end .check-our-md {
          font-size: 1.2rem;
      }
  
      .md-sec-end .btn-mobiledoctor {
          padding: 5px 50px;
          font-size: 18px;
          margin-top: 0;
      }
  
      .md-sec-end .check-our-md {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 0;
      }
  
      .md-sec-end .box-check-md img {
          width: 169px;
          top: -20px;
      }
  
      .nb1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  
      .md-bg {
          min-height: 370px;
      }
  
      .kompolnas1 {
          padding: 0;
      }
  
      .kompolnas1 .img1 {
          justify-content: center;
          margin-top: 30px;
      }
  
      .kompolnas1 .img1 img {
          width: 60px;
          display: flex;
      }
  
      .kompolnas1 .title-kompolnas {
          font-size: 24px;
          text-align: center;
      }
  
      .kompolnas1 .desc-kompolnas {
          font-size: 13px;
      }
  
      .kompolnas1 .title-kompolnas::after {
          display: none;
      }
  
      .sec-kp1 .kompolnas-desc-ng1 {
          font-size: 12px;
          margin-top: 20px;
      }
  
      .sec-kp1 .img2 img {
          width: 150px;
      }
  
      .sec-kp2 .img3 {
          display: flex;
          justify-content: center;
      }
  
      .sec-kp2 .img3 img {
          width: 170px;
          left: -20px;
      }
  
      .sec-kp2 .text-kp2 {
          font-size: 12px;
          margin-bottom: 30px;
      }
  
      .sec-kp1 .kompolnas-divider {
          display: none;
      }
  
      .kompolnas2 {
          padding: 20px;
      }
  
      .kompolnas2 img.cg1 {
          width: 140px;
      }
  
      .kompolnas3 .box-kpj1 {
          width: 90%;
          padding: 0;
      }
  
      .kompolnas3 .box-kpj1 .text-kpj1 {
          padding-top: 20px;
          font-size: 17px;
      }
  
      .kompolnas3 .box-kpj1 .text2-kpj2 {
          font-size: 14px;
          padding-bottom: 20px;
      }
  
      .background-kp2 {
          top: -80px;
      }
  
      .background-kp1 {
          height: 65%;
      }
  
      .kompolnas3 {
          margin: 10px;
      }
  
      .kktpti-sec1 {
          padding: 10px;
      }
  
      img.bg-kpti {
          height: 43%;
      }
  
      .kktpti-sec1 .logo-kktpti-head img {
          width: 110px;
          margin-top: 20px;
      }
  
      .kktpti-sec1 .wrapper-text-kpti1 {
          justify-content: center;
          align-items: center;
      }
  
      .kktpti-sec1 .text-kktpti {
          font-size: 24px;
          text-align: center;
      }
  
      .kktpti-sec1 .text-desc-head-kktpti {
          font-size: 12px;
          left: 0;
      }
  
      .kktpti-sec1 .ktpi2 {
          margin-top: 40px;
      }
  
      .kktpti-sec1 .ktpi2 .kktpti-gr1 {
          justify-content: center;
          padding: 0;
      }
  
      .kktpti-sec1 .ktpi2 .kktpti-gr1 img {
          width: 165px;
      }
  
      .kktpti-sec1 .ktpi2 .text-kktpti-in1 {
          font-size: 12px;
          text-align: left;
          padding: 0;
          margin-top: 10px;
      }
      .text-kpti-has {
          margin: 0;
          padding: 0;
          font-size: 16px;
          text-align: center;
          margin-top: 30px;
          margin-bottom: 20px;
      }
  
      .ktpi3 {
          padding: 0;
          width: 100%;
          justify-content: center;
      }
  
      .ktpi3 .box-kpti-info {
          width: 170px;
          height: 90px;
          margin: 7px;
      }
  
      .ktpi3 .box-kpti-info .kpti-info1 {
          font-size: 15px;
      }
  
      .ktpi3 .box-kpti-info .kpti-info2 {
          font-size: 15px;
      }
  
      .ktpi3 .box-kpti-info .kpti-info3 {
          font-size: 15px;
      }
  
      .ktpi4 {
          padding: 0;
          padding-top: 50px;
      }
  
      .ktpi4 .img-android img {
          width: 310px;
      }
  
      .ktpi4 .text-available-kpti {
          font-size: 18px;
          text-align: center;
      }
  
      .gplay-kpti img {
          width: 180px;
      }
  
      .gplay-kpti {
          display: flex;
          justify-content: center;
      }
  
      .web-kpti {
          width: 160px;
          height: 50px;
          font-size: 15px;
          margin-bottom: 20px;
      }
  
      .banner-kktpti .text-banner {
          font-size: 43px;
      }
  
      .banner-kktpti .text-banner-sub {
          font-size: 11px;
      }
  
      .banner-kompolnas .text-banner {
          font-size: 29px;
      }
  
      .banner-kompolnas .text-banner-sub {
          font-size: 15px;
      }
  
      .text-banner {
          font-size: 33px;
      }

      .md-sec-end {
          margin-bottom: 10px;
      }

      .banner-kompolnas {
          margin-top: 50px;
      }

      .banner-kktpti {
          margin-top: 50px;
      }

      .banner-md {
          margin-top: 50px;
      }
  }